

<div class="bg4">
  </div>
      <div class="listing-form-styles">
      <div class="subtext"> <strong>List a new goat</strong> </div>
        <%= render 'form', listing: @listing %>
        <br>
      </div>


  </div>
</div>


