
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>

<p class="paragraph">Jim's Goats have been serving Melbourne since 2007, when we first saw an opportunity to utilise Goats, one of the cutest and most versatile animals in Australia. With an increasing population in inner city suburbs, garage ownership and storage solutions are harder to come by. There is also the pesky problem of noise pollution; how does a renter in Fitzroy maintain their garden patch whilst keeping their neighbours happy when they cannot afford a lawnmower nor store it? Simple! Rent a goat!</p>

Goat safety is paramount above all else. Please see below details based on skill category.

<div class="card-group">
  <div class="card">

    <img src="/assets/yoga.jpg" class="card-img-top">
    <div class="card-body text-center">
      <p class="card-title">Our Yoga Master goats are pracitioners of the ancient art of Vinyāsa, bringing you peace and mindfulness as you burn calories.</p>
    </div>

    </div>
  <div class="card">

    <img src="/assets/milking.jpg" class="card-img-top">
    <div class="card-body text-center">
      <p class="card-title">Our Dairy Queens are nanny goats who are currently producing milk. We do not allow goats to be Dairy Queens unless their young are healthy & are currently receiving sufficient sustenance. A nanny goat can only be listed as a Dairy Queen once in any 12 month period to discourage overbreeding.</p>
    </div>

</div>

  <div class="card">

    <img src="/assets/love.jpg" class="card-img-top">
    <div class="card-body text-center">
      <p class="card-title">Our Lover Goats are male only, and are regularly tested and confirmed free of disease. These billy goats come from pedigree blood lines to ensure healthy young. Inbreeding is strictly prohibited as per these terms and conditions of Jim's Goats.</p>
    </div>

      </div>

  <div class="card">

    <img src="/assets/companionship.jpg" class="card-img-top">
    <div class="card-body text-center">
      <p class="card-title">Our Cuddly Companions are goats that are children and pet friendly, who are highly socialised among humans and house broken.</p>
    </div>

  </div>
</div>



    <%= yield %>
  </body>
</html>



