
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>

<p class="paragraph">Jim's Goats have been serving Melbourne since 2007, when we first saw an opportunity to utilise Goats, one of the cutest and most versatile animals in Australia for more than . With an increasing population in inner city suburbs, garage ownership and storage solutions are harder to come by. There is also the pesky problem of noise pollution; how does a renter in Fitzroy maintain their garden patch whilst keeping their neighbours happy when they cannot afford a lawnmower nor store it? Simple! Rent a goat!</p>



    <%= yield %>
  </body>
</html>



