
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
<h2>All goats are Garden Gurus, but some of our goats have extra special skills!</h2><br>

<div class="card-group">
  <div class="card">

    <img src="/assets/yoga.jpg" class="card-img-top">
    <div class="card-body text-center">
      <h5 class="card-title">Our Yoga Master goats are pracitioners of the ancient art of VinyÄsa, bring you peace and mindfulness as you burn calories.</h5>
    </div>

    </div>
  <div class="card">

    <img src="/assets/milking.jpg" class="card-img-top">
    <div class="card-body text-center">
      <h5 class="card-title">Our Dairy Queens are nanny goats who have recently given birth and are producing milk. We do not allow goats to be Dairy Queens unless their young are healthy & are currently receiving sufficient sustenance.</h5>
    </div>

</div>

  <div class="card">

    <img src="/assets/love.jpg" class="card-img-top">
    <div class="card-body text-center">
      <h5 class="card-title">Our Lover Goats are male only, and are regularly tested and confirmed free of disease. These billy goats come from pedigree blood lines to ensure healthy young.</h5>
    </div>

      </div>

  <div class="card">

    <img src="/assets/companionship.jpg" class="card-img-top">
    <div class="card-body text-center">
      <h5 class="card-title">Our Cuddly Companions are goats that are children and pet friendly, who are highly socialised among humans and house broken.</h5>
    </div>

  </div>
</div>

    <%= yield %>
  </body>
</html>



