<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>

<div class="bg">
<div class="container">
  <h1>GOATS.</h1>
</div>
<div class="buttons">
    <%= link_to "I need a goat", listings_path, class: "btn-1" %>
    <%= link_to "I have a goat", new_listing_path, class: "btn-2" %>
</div>
</div>

    <%= yield %>
  </body>
</html>



