
<head>
  <!-- <link rel="stylesheet" type="text/scss" href="../../assets/stylesheets/home.scss"> -->
</head>
<%# <div class=bg>
</div> %>
<div class="bg">
<div class="container">
  <h1>GOATS.</h1>
</div>
<div class="buttons">
    <%= link_to "I need a goat", listings_path, class: "btn-1" %>
    <%= link_to "I have a goat", new_listing_path, class: "btn-2" %>
    <body class="home_page_layout">
</div>
</div>
