
<style>
  .card {
    margin: auto;
    border: none;
    }
</style>

<div class="card w-75">

  <div class="card-body" >
    <h5 class="card-title">Page Not Found</h5>
  </div>
  <img class="card-img-bottom" src="/assets/smizey.jpg" alt="Card image cap">

</div>

    



