<div class="form_nav">
  <h1>Goats</h1>
  <nav>

    <ul>
      <li data-xcoord="0px"><%= link_to "Home", root_path %></li>
      <li data-xcoord="160px"><%= link_to "About", about_path  %></li>
      <li data-xcoord="320px"><%= link_to "Contact", contact_path %></li>
      
    </ul>
  </nav>
</div>